.countries-list-li-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: #1f1f2f;
  border: 1px solid #334155;
  padding: 0 25px;
}

.visit-btn-container button {
  background-color: #3b82f6;
  color: white;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 6px 24px;
  text-align: center;
}

.visited-style {
  background-color: transparent !important;
  color: #94a3b8 !important;
}

.visit-btn-container button:hover {
  transform: scale(1.02);
}

.visit-btn-container button:active {
  transform: scale(0.96);
}
